In [3]:
import pandas as pd
import numpy as np

In [4]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])

In [9]:
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
pattern = list(df2.columns)
print(pattern)

['a', 'b', 'c']

In [14]:
print(pattern[0])
print(pattern[1])
print(pattern[2])

a
b
c

In [15]:
sample = pd.read_csv('sample.csv', low_memory=False)

C:\Users\Mohamed\AppData\Local\Temp\ipykernel_15640\1096193735.py:1: DtypeWarning: Columns (0,1,4,34) have mixed types. Specify dtype option on import or set low_memory=False.
  sample = pd.read_csv('sample.csv')